.dockerignore
Dockerfile
*.sqlite3
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
coverage.xml
*,cover
*.log
.git
build
frontend/node_modules
frontend/build

# To make sure we don't accidentally publish an image with secrets
secrets.env
